@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#container{
    margin: auto;
    width: 400px;
    height: 800px;
    background-color: #f7f7f7;
}

header{
    width: 400px;
    height: 360px;
}

#img_fundo{
    width: 400px;
    height: 360px;
    margin-bottom: -340px;
}

#buscar{
    font-size: 16px;
    height: 50px;
    width: 320px;
    border-radius: 5px;
    margin-top: 35px;
    margin-left: 30px;
    padding-left: 15px;
    border: none;
    outline: none;
}

#img_buscar{
    width: 25px;
    height:25px;
    margin-left: -50px;
    margin-bottom: -10px;
    filter: opacity(0.3);
}

#p_um{
    font-size: 36px;
    font-family:'roboto','sans-serif';
    font-weight: bold;
    text-transform: uppercase;
    color:#ffffff;
    margin-top: 130px;
    padding-left: 25px;
    width: 340px;
}

#slide_floresta{
    width: 140px;
    height: 150px;
    margin-top: 40px;
    margin-left: 20px;
    border-radius: 5px 5px 0px 0px;
}
#p_dois{
    color: black;
    text-transform: capitalize;
    width:125px;
    height:30px;
    background-color: #ffffff;
    border-radius: 0px 0px 5px 5px;
    font-family: 'roboto', 'sans-serif';
    padding-left: 15px;
    padding-top:20px ;
    margin-left: 20px;
    margin-top:-8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),
                0 4px 8px rgba(0, 0, 0, 0.2);
}
#folha{
    width: 25px;
    height: 25px;
    margin-left: 125px;
    margin-top: -70px;
    margin-bottom: 40px;
    filter: opacity(0.3);
}

#slide_praia{
    width: 140px;
    height: 150px;
    margin-top: -230px;
    margin-bottom: 76px;
    margin-left: 50px;
    border-radius: 5px 5px 0px 0px;
}

#p_tres{
color: black;
text-transform: capitalize;
width:125px;
height:30px;
background-color: #ffffff;
border-radius: 0px 0px 5px 5px;
font-family: 'roboto', 'sans-serif';
padding-left: 15px;
padding-top: 20px;
margin-left: 204px;
margin-top:-85px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),
            0 4px 8px rgba(0, 0, 0, 0.2);
}

#onda{
    width: 25px;
    height: 25px;
    margin-left: 310px;
    margin-top: -70px;
    margin-bottom: 40px;
    filter: opacity(0.3);
}

#footer{
    width: 400px;
    height: 170px;
    background-color: #222;
}

#p_saibamais{
    font-family: 'roboto', 'sans-serif';
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    padding-left: 40px;
    padding-top: 25px;
}

#ret_um{
    width: 2px;
    height: 8px;
    background-color: #404040;
    margin-top: -145px;
    margin-left: 40px;
}

#p_sobreempresa{
    font-size: 12px;
    font-family: 'roboto', 'sans-serif';
    font-weight: normal;
    color: #cfcfcf;
    margin-top: -15px;
    margin-left: 50px;
}

#ret_dois{
   width: 2px;
   height: 8px;
   background-color: #404040;
   margin-top: -145px;
   margin-left: 240px;
   margin-bottom: 30px;
}

#p_perguntas{
    font-size: 12px;
    font-family: 'roboto', 'sans-serif';
    font-weight: normal;
    text-transform: capitalize;
    color: #cfcfcf;
    margin-bottom: 30px;
    margin-top: -45px;
    margin-left: 250px;
}

#linha_um{
    width: 350px;
    height: 1px;
    background-color: #2e2e2e;
    margin-left: 30px;  
    margin-bottom: 20px;
    margin-top: -20px;
}

#p_vagasabertas{
    font-size: 12px;
    font-family: 'roboto', 'sans-serif';
    font-weight: normal;
    text-transform: capitalize;
    color: #cfcfcf;
    margin-top: -15px;
    margin-left: 50px;
}

#ret_tres{
    width: 2px;
    height: 8px;
    background-color: #404040;
    margin-top: -145px;
    margin-left: 240px;
    margin-bottom: 30px;
}

#ret_quatro {
    width: 2px;
    height: 8px;
    background-color: #404040;
    margin-top: -90px;
    margin-left: 37px;
    margin-bottom: 132px;
  }

  #p_vagasabertas{
    font-size: 12px;
    font-family: 'roboto', 'sans-serif';
    font-weight: normal;
    text-transform: capitalize;
    color: #cfcfcf;
    margin-top: -15px;
    margin-left: 50px;
}